.row {
  color: white;
  font-size: 9px;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 100px;
  margin-right: 10px;
  transition: transform   450ms ;
 


}

.row__poster:hover{

    transform: scale(1.5);
    opacity: 0.98;
}

.row__poster--Large {
  color: red;
  text-decoration: line-through;
  font-size: 90px;
  max-height: 160px;
}

